    /* Base Styles */
    body {
    background: #800000;
    background-attachment: fixed;
    font-family: "DM Sans", sans-serif;
    }

    /* Logo */
    .wpheader img {
    display: block;
    width: 20vw;
    max-width: 120px;
    min-width: 150px;
    margin: 3rem auto 1rem;
    }

    /* Headings */
    h1, h2 {
    font-family: "Tilt Warp", sans-serif;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0.5rem 1rem;
    filter: drop-shadow(0 0 0.75rem rgba(112, 42, 1, 0.8));
    }

    h1 {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
    color: #FFC632;
    }

    h2 {
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    color: #ffffff;
    margin-top: 0.25rem;
    }

    /* Description Text */
    h3 {
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 1rem 1.5rem;
    filter: drop-shadow(0 0 0.75rem rgba(128, 0, 0, 0.8));
    }

    /* Button Container */
    .wpbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0;
    }

    /* Proceed Button */
    .proceedbtn {
    background-color: #ffffff;
    color: #800000;
    font-family: "Tilt Warp", sans-serif;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    width: 90%;
    max-width: 500px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(128, 0, 0, 0.3);
    }

    .wptstbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0;
    }

    .tstbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0;
    color: #800000;
    font-family: "Tilt Warp", sans-serif;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    width: 90%;
    max-width: 500px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(128, 0, 0, 0.3);
    
    }

    .proceedbtn:hover {
    background-color: #f3f3f3;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(128, 0, 0, 0.4);
    }

    .tstbtn:hover {
    background-color: #f3f3f3;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(128, 0, 0, 0.4);
    }
